@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* styles/globals.css or within a component’s CSS */
.scrollable-div::-webkit-scrollbar {
  display: none;
}

.scrollable-div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll; /* Ensures vertical scrolling */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* For Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* Hide scrollbar */
}

/* Optional: for IE and Edge (legacy) */
.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar */
}

/* .nft:nth-child(2) {
  transition-delay:200ms ;
}
.nft:nth-child(3) {
  transition-delay:400ms ;
}
.nft:nth-child(4) {
  transition-delay:600ms ;
}
.nft:nth-child(5) {
  transition-delay:800ms ;
} */